extends layout

block content
    .container
        .row#banner
            .starter-template
                h1 Create Awesome { Fake: "Data" }
                p.lead Free for all. #[span(style="font-family: 'Nothing You Could Do', cursive;") Always!]
        #workspace
            .row.text-center
                .col-xs-6.col-xs-offset-3
                    input(type="text" id="fakr_url" class="form-control" placeholder="Your fakr URL")
                .pull-left  
                     button(type="button" class="btn btn-default btn-outline" data-bind="click:FakeIt_Edit") Get JSON
                

block additions_scripts
    script(type="text/javascript" src="javascripts/vendor/chance.min.js")
    script(type="text/javascript" src="javascripts/services/fakedata.jsonservice.js")
    script(type="text/javascript" src="javascripts/main.js")
    