extends layout

block content
    .container(ng-app="fakr" ng-controller="FakeController as fakeCtrl")
        .row#banner
            .starter-template
                h1 Create Awesome { Fake: "Data" }
                p.lead Free for all. #[span(style="font-family: 'Nothing You Could Do', cursive;") Always!]
                a(class="btn btn-primary btn-outline" id="btnEditPreviousJSON" ng-click="fakeCtrl.toggle()") Edit Previous JSON
                .heightFix(style="height:1em;margin:2em")
                    #edit_fakr.row.text-center.margin-top-15(ng-show="fakeCtrl.isEditPreviousJsonClicked")
                        .col-xs-5.col-xs-offset-3
                            input(type="text" id="fakr_url" class="form-control" placeholder="Your fakr URL or ID")
                        .pull-left  
                            button(type="button" class="btn btn-success btn-outline" ng-click="fakeCtrl.GetFake()") Get JSON
        #workspace
            .row
                .col-sm-12.col-md-6.working-area#JsonInput.JsonKeyValues.text-center
                    form.form-inline(novalidate)
                        ul(class="list-unstyled")
                            li(ng-repeat="jkv in fakeCtrl.JsonKeyValues")
                                .form-group
                                    label.sr-only Json key
                                    input(type="text" ng-model="jkv.Key" class="form-control" placeholder="Key" required)
                                .form-group
                                    label.sr-only Data Type
                                    select(class="form-control" ng-model="jkv.DataType" ng-options="item.DataType for item in fakeCtrl.DataTypes | orderBy:'DataType'")
                                .form-group
                                    button(type="button" class="btn btn-danger btn-outline " ng-click="fakeCtrl.DeleteJsonKeyValue($index)") Remove
                    button(type="button" class="btn btn-default btn-outline"  ng-click="fakeCtrl.AddJsonKeyValue()") Add
                .col-sm-12.col-md-6.working-area#JsonOutput
                    pre
            .row.margin-top-05.center-block
                .col-sm-12.text-center
                    form.form-inline(novalidate)
                        .form-group
                            input(type="text" id="Reps" class="form-control" placeholder="Repetitions? (Default 1)" required)
                            button(type="button" class="btn btn-default btn-outline" ng-click="fakeCtrl.GeneratePreview(fakeCtrl)") Preview
                            button(type="button" class="btn btn-success" id="FakeIt" ng-click="fakeCtrl.FakeIt()" ng-hide="fakeCtrl.isEditPreviousJsonClicked" ) Fake It!
                            button(type="button" class="btn btn-success" id="FakeIt_Update" ng-click="fakeCtrl.UpdateFake()" ng-show="fakeCtrl.isEditPreviousJsonClicked") Update It!  
   
 
block additions_scripts
    script(type="text/javascript" src="javascripts/vendor/chance.min.js")
    script(type="text/javascript" src="javascripts/services/fakedata.JsonService.js")
    script(type="text/javascript" src="javascripts/services/fakedata.PhotoService.js")
    script(type="text/javascript" src="javascripts/services/fakedata.CommonHelper.js")
    script(type="text/javascript" src="javascripts/app.js")
        