.container
    .row#banner
        .starter-template
            h1 Create Awesome { Fake : "Data" }
            p.lead Because developers need pampering. #[span(style="font-family: 'Nothing You Could Do', cursive;") Always!]
     #workspace
        p.text-center  Access this fake 
            a(ng-href='{{exploreItem.url}}' target="_blank") here
        pre(ng-bind-html="exploreItem.user_json_data")