doctype html
html
  head
    meta(charset="utf-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="" name="description")
    meta(content="Tanmay Dharmaraj" name="author")
    title #{title}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Permanent+Marker|Rock+Salt|Bangers")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(type="text/javascript" src="https://code.angularjs.org/1.4.5/angular-route.min.js")
    script(type="text/javascript" src="https://code.angularjs.org/1.4.5/angular-sanitize.min.js")

    //custom methods. TODO : Make them more angulary
    script(type="text/javascript" src="/javascripts/vendor/chance.min.js")
    script(type="text/javascript" src="/javascripts/services/FakeData.JsonService.js")
    script(type="text/javascript" src="/javascripts/services/FakeData.CommonHelper.js")
        
    script(type="text/javascript" src="/javascripts/controllers/MainCtrl.js")
    script(type="text/javascript" src="/javascripts/controllers/ExploreCtrl.js")
    script(type="text/javascript" src="/javascripts/controllers/ExploreItemCtrl.js")
    script(type="text/javascript" src="/javascripts/appRoutes.js")
    script(type="text/javascript" src="/javascripts/app.js")
    //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->
  body(ng-app="fakr")
    nav.navbar.navbar-fixed-top.navbar-custom
        div.container
            div.navbar-header
              button.navbar-toggle.collapsed(
                type="button"
                data-target="#navbar" data-toggle="collapse" 
                aria-controls="navbar" aria-expanded="false" 
                )
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="/" style="font-family: 'Rock Salt', cursive;") Fakedata .org
            div.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/") Home
                    li
                        a(href="/explore") Explore
    div(ng-view='')
    
    footer.footer
        .margin-top-15.text-center
            p.text-muted
                span Made with 
                    span.glyphicon.glyphicon-heart(aria-hidden="true" style="color:#B01712")
                span  @
                    a(href="http://www.zevenseas.com/" target="_blank")  RapidCircle